@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---- Header---- */
.tituloPrincipal {
    color: #f15156;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    animation: ease-in animacion 1s;
    flex: 1;
}

@keyframes animacion{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

header div a img{
    width: 60px ;
}
.header{
    border-bottom: 1px solid white;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar{
    width: 100%;
}

.navbar-collapse{
    flex-grow: initial;
}

.nav-link{
    font-size: 1.3rem;
    font-weight: bold;
}

body{
    color:#F3B61F ;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

/* ----Main----*/
.hero{
    width: 100%;
    height: 50vh;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: lighter;
    text-align: center;
    color:white;
    background-image:url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.hero h2 {
    color: black;
}
.hero h3{
    color: black;
}

.contenidoIndex{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.contenidoIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenidoIndex div{
    margin-top: 20px;
}

.autora{
    border: 5px solid #6CAE75 ;
    width: 600px;
    text-align: center;
    background-image: url(../img/backgroundclare.jpg);
    background-size: cover;
}

.lista{
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: #f15156 solid 2px;
    width: fit-content;
    background-image: url(../img/backgroundblack.png);
    background-size: cover;
}

.lista div ol li a{
    text-decoration: none;
    color: #6CAE75;
}

.lista div ol li{
    margin-left: 20px;
}

.personajes{
    display: flex;
}
.personajes img {
    width: 200px;
    height: 300px;
    margin-left: 40px;
    transition: 0.5s ease all;
}

.personajes img:hover{
    transform: scale(1.05);
}


.personajes div img{
    border: 5px solid #6CAE75;
}

.frases{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
}

.frases div h4{
    border: 1px solid #f15156;
    width: 500px;
    margin-bottom: 5px;
    padding: 50px;
    color: #F3B61F;
    background-image: url(../img/frasesback.jpeg);
    background-size: cover;
    font-size: 25px;
}

.dichos{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: italic;
}

.dichoUno{
    margin-left: 10px;
    text-align: center;
}

.dichoDos{
    margin-right: 10px;
    text-align: center;
}

/* ----Libros---- */


.saga{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    display: flex;
}
.saga h2{
    font-size: 32px;
}

.saga h3{
    font-size: 32px;
    margin-top: 30px;
}
.saga div img{
    width: 300px;
    height: 400px;
    margin-left: 50px;
}

.saga div p{
    margin-bottom: 40px;
    width: 400px;
    border: 3px solid #6CAE75;
    margin-left: 10px;
}

.margenUno{
    margin-left: 85px;
}
.margen{
    margin-left: 30px;
}
.angel{
    flex: 1;
}

.titulolibro{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
}


/*----Personajes----*/

.character{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
}

.character div img{
    width:300px;
    height: 400px;
    object-fit: cover;
    transition: 0.3s ease all;
}

.character div img:hover{
    transform: scale(1.03);
}




.character div h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

/* ----Curiosidades----*/
.tituloCurioso{
    text-align:center;
}

.adaptacion{
    display: flex;
}

.adaptacion div{
    display: inline-block;
    margin-left: 150px;
    margin-top: 50px;
}
.adaptacion div img{
    width: 300px;
    height: 450px;
}

.adaptacion div p{
    border: #6CAE75 solid 2px;
    width: 450px;
    padding: 3px;
}

.video{
    border: #f15156 solid 3px;
    margin-top: 10px;
}


.adaptacionDos div div img{
    width: 200px;
    height: 300px;
}
.subtitulo{
    text-align: center;
    margin-top: 30px;
}
.adaptacionDos{
    display: flex;
}

.argumentoDos{
    display: flex;
    flex-wrap: wrap;
}

.argumentoDos h3{
    margin-left: 15px;
}

.actores{
    display: inline-block;
    margin: 25px;
}


/* ----FOOTER---- */
.socialMedia{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
footer{
    border-top: 2px solid  white;
}


/*----MEDIA----*/

@media screen and (max-width:1460px){
    .personajes div img{
        margin-left: 20px;
    }
    .adaptacion{
        flex-direction: column;
        align-items: center;
    }

    .adaptacion div{
        margin-left: 0px;
    }

    .adaptacion div img{
        margin-left: 80px;
    }

}

@media screen and (max-width:1340px){
    .personajes div img{
        margin-left: 10px;
    }
    .character{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(10,1fr);
        justify-items: center;
    }
}

@media screen and (max-width:1280px){
    .personajes{
        flex-direction: column;
        align-items: center;
    }
    .saga{
        flex-direction: column;
        align-items: center;
    }
    .titulolibro{
        text-align: center;
    }
}

@media screen and (max-width:1020px)
{
    .frases div h4{
        width: 400px;
        padding: 40px;
    }

    .character {
        justify-content: center;
    }

    .argumentoDos h3{
        font-size: 20px;
    }
}


@media screen and (max-width:920px){
    .actores h4{
        font-size: 15px;
    }
}

@media screen and (max-width:820px){
    .frases div h4{
        width: 350px;
        padding: 35px;
    }

    .personajes div img{
        width: 150px;
        height: 250px;
    }
}

@media screen and (max-width:700px){
    .frases div h4{
        width: 300px;
        font-size: 20px;
        padding: 30px;
    }

    .character div img{
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width:670px){
    .hero{
        background-size: 670px;
        height: 35vh;
    }

    .hero h2{
        font-size: 20px;
    }
    .contenidoIndex{
        font-size: 15px;
    }
    .frases div h4{
        width: 250px;
        font-size: 15px;
        padding: 25px;
    }

    .autora{
        width: 300px;
        margin-bottom: 10px;
    }
    .autora img{
        width: 250px;
    }

    .lista{
        font-size: 15px;
    }

    .frases{
        font-size: 25px;
    }

    .adaptacion div iframe{
        width: 460px; ;
    }
    
    .argumentoDos h3{
        font-size: 15px;
    }
}


@media screen and (max-width:520px){
    .hero h2{
        font-size: 15px;
    }
    
    .lista{
        width: 250px;
    }
    .frases div h4{
        width: 200px;
        font-size: 15px;
        padding:20px ;
    }
    
    .personajes div img{
        width: 100px;
        height: 200px;
    }
    .lista{
        font-size: 10px;
    }

    header{
        font-size: 10px;
    }

    .character div img{
        width: 150px;
        height: 250px;
    }
    .characterItem h3{
        font-size: small;
    }

    .saga div img{
        width: 200px;
        height: 300px;
    }

    .saga div p{
        width: 300px;
        margin-left: 20px;
        align-items: center;
        justify-content: center;
    }

    .angel h3{
        font-size: 25px;
    }

    .adaptacion div iframe{
        width: 400px;
    }

    .adaptacionDos div div img{
        width: 100px;
        height: 200px;
    }

    .adaptacion div p{
        width: 350px;
        margin-left: 50px;
    }

    .adaptacion h2{
        font-size: 20px;
    }

    .adaptacion h3{
        font-size: 20px;
    }
}

@media screen and (max-width:400px){
    .frases div h4{
        width: 150px;
        padding: 15px;
    }
    header nav ul li{
        margin-right: 5px;
    }

    .adaptacion div iframe{
        width: 320px;
        margin-left: 15px;
    }

    .adaptacion div p{
        width: 280px;
    }

    .adaptacion div img{
        width: 200px;
        height: 350px;
    }
}

