@import"../base/variables";

/*---- Header ----*/

header{    
    border-bottom: 1px solid $color-quinario;
    background-color: $color-principal;
    position: sticky;
    top: 0;
    z-index: 1;
    
    nav{
        width: 100%;
        div{

            a{
                img{
                    width: 60px ;
                }
            }
            .navbar-collapse{
                flex-grow: initial;
                ul{
                    li{
                        a{
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                
                }
            }

        }

    }
}