@import"../base/variables";

/*----Curiosidades----*/
.tituloCurioso{
    text-align:center;
}

.adaptacion{
    @include flex (flex,0,0);
    div{
        @include flex (inline-block,0,0);
        margin-left: 150px;
        margin-top: 50px;
        img{
            width: 300px;
            height: 450px;
        }
        p{
            border: $color-cuaternario solid 2px;
            width: 450px;
            padding: 3px;
        }
        iframe{
            border: $color-terciario solid 3px;
            margin-top: 10px;
        }
    }
}

.subtitulo{
    text-align: center;
    margin-top: 30px;
}

.adaptacionDos{
    @include flex (flex,0,0);
    .argumentoDos{
        @include flex (flex,0,0);
        flex-wrap: wrap;
        h3{
            margin-left: 15px;
        }
        div{
            div{
                img{
                    width: 200px;
                    height: 300px;
                    @include flex (inline-block,0,0);
                    margin: 25px;
                }
            }
        }
    }
}