/*----Main Libros*/

.titulolibro{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
}

.saga{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    display: flex;
    div{
        flex: 1;
        .margenUno{
            font-size: 32px;
            margin-top: 30px;
            margin-left: 85px;
        }
        img{
            width: 300px;
            height: 400px;
            margin-left: 50px;
        }
        p{
            margin-bottom: 40px;
            width: 400px;
            border: 3px solid #6CAE75;
            margin-left: 10px;
        }
    }
}

.saga{
    div{
        .margen{
            font-size: 32px;
            margin-top: 30px;
            margin-left: 30px;
        }
    }
}