@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#F3B61F ;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.tituloPrincipal{
    color: #f15156;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
    animation: ease-in animacion 1s;
    flex: 1;
}

@keyframes animacion{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

header div a img{
    width: 60px ;
}